@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik:wght@300&display=swap');

.fpassword-container {
    padding: 10.8rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fpassword-form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    width: 50%;
    max-width: 400px;
}

.fpassword-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fpassword-form-group {
    margin-bottom: 25px;
}

.Npassword-box-visible {
    visibility: visible;
    color: rgb(252, 78, 78);
}
  
.Npassword-box {
    visibility: hidden;
}

.Cpassword-box-visible {
    visibility: visible;
    color: rgb(252, 78, 78);
}
  
.Cpassword-box {
    visibility: hidden;
}

.verificationCode-box-visible {
    visibility: visible;
    color: rgb(252, 78, 78);
}
  
.verificationCode-box {
    visibility: hidden;
}

@media (max-width: 767px) {
    .fpassword-container {
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content:center;
        margin-top: 100px;
    }

    .fpassword-form {  
        margin-bottom: 100px; 
        padding:10px;
        width: 80%;
    }

    .fpassword-form-label {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .fpassword-form {
        padding: 30px;
        width: 60%;
    }
}

