.allplayer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  padding: 15px;

}

.allplayers-data {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: left;
}

.player-card {
  display: flex;
  width: 290px;
  height: 180px;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #fafafa;
  border-radius: 5px;
  background-color: #f6f6f6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.player-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.player-image {
  width: 150px;
  height: 110px;
  object-fit: contain;
}

.individualteamplayer-button {
  padding: 10px;
}

.player-details {
  flex: 1;
}

.player-name {
  margin: 0;
  font-size: 20px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
}

.player-count {
  margin-top: 5px;
  font-size: 20px;
  color: #666;
}

.player-age {
  margin-top: 5px;
  font-size: 20px;
  color: #666;
}

.no-data {
  text-align: center;
  margin: 50px 0;
}

.no-data h1 {
  margin: 0;
  font-size: 24px;
  color: #888;
}

.auctionteam-name {
  margin-top: 5px;
  font-size: 30px;
  color: #666;
}

.individualteamplayer-link {
  text-decoration: none;
}